doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/mystyle.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
      
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(type='text/javascript', src='/javascripts/myScript.js')
    script.
        console.log('loading script');
        var socket = io();
        console.log('connected');

        function send(){
          console.log('send');
          var message = document.getElementById('message');
          socket.emit('message', message.value);
          message.value = '';
        };

        socket.on('message', function(msg){
          var messages = document.getElementById('messages');
          var newText = document.createElement('li');
          newText.innerHTML = msg;
          messages.appendChild(newText);
        });
    body(onload='footer_info();')
    .page-wrap
      header.header
        .header_inner
          .navigation
            ul.navigation_inner
              li
                a(href='/') Home
              li
                a(href='game') Play Game
              li
                a(href='references.html') References used
              li
                a(href='howto.html') How To Play
              li
                a(href='about.html') About
              li
                a(href='register') Register
              li
                a(href='login') Login
              li
                a(href='comments') Feedbacks
              if(user)
                li
                  a(href='/logout') Log Out
              li(style='pointer-events: none;') 
                a.active(href='score_upd') Leaderboard
      .main-content
        .content
          h1 ScoreBoard Updated successfully
          br
          h1 Here is our leaders:
          br
          table
            tr
              th(style='width: 150px; font-size: 25px;') User_name
              th(style='width: 150px; font-size: 25px; text-align: center;') Total Wins
              th(style='width: 150px; font-size: 25px; text-align: center;') Total Looses
              th(style='width: 150px; font-size: 25px; text-align: center;') Win Rate
            each s in score
              tr
                td(style='width: 150px; font-size: 25px;') #{s.user_name}
                td(style='width: 150px; font-size: 25px; text-align: center;') #{s.total_wins}
                td(style='width: 150px; font-size: 25px; text-align: center;') #{s.total_looses}
                td(style='width: 150px; font-size: 25px; text-align: center;') #{s.win_rate}
          
